*{
	text-align: center;
}

@media only screen and (max-device-width: 760px) {


}

@media only screen and (min-device-width: 1024px) {

.texto{
	width: 50%;
	margin-left: 25%;
}
.vazio{
	background-color: black;
}
.domingo{
	background-color: orangered;
}
.vago{
	background-color: darkseagreen;
}
.ocupado{
	background-color: red;	
}
.data_atual{
	background-color: lightskyblue;
}

a{
	color: black;
	text-decoration: underline;
}
}
